@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Lora, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p, span {
  color: #BFA181;
}
